@font-face {
    font-family: pm;
    src: url(./Resources/Fonts/ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
    font-family: pm;
}

html,
body {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}

/*---------------------------------------*/

.cursor{
   width: 20px;
   height: 20px;
   background-color: #edbfff;
   border-radius: 50%;
   position: fixed;
   z-index: 99;
   mix-blend-mode: difference;
   pointer-events: none; 
   transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;
}

.cursor-active{
    width: max-content;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 4px 10px;
}

.cursor-img{
    width: 405px;
    height: 315px;
    overflow: hidden;
    border-radius: 15px;
    /* background-size: cover;
    background-position: center; */
    transform: translate(-50%, -50%);
}

.cursor-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cursor-blend{
    mix-blend-mode: normal;
}
/*---------------------------------------*/

main {
    background-color: #0f0d0d;
    overflow: hidden;
}

.page_1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9;
}

nav {
    height: 63px;
    width: 100%;
    background-color: #ffffff05;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 100;
}

.nav_part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav_part2 h4 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    /* color: #fff; */
}

.nav_part2 h4:nth-child(1) {
    border-bottom: 1.7px solid white;
}

.nav_part2 h4:hover:nth-child(2),
h4:hover:nth-child(3),
h4:hover:nth-child(4) {
    border-bottom: 1.7px solid white;
}

.nav_part2 a {
    text-decoration: none;
    color: #fff;
}

nav img {
    height: 26px;
}

.nav_part3 .cir {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.nav_hover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 90;
    display: none;
    background-color: #edbfff;
    opacity: 0;
    transition: bg-c 0.5s ease;
}

.nav_hover div {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.nav_hover h1 {
    font-size: 5vw;
    font-weight: 400;
    margin-top: 18vw;
    white-space: nowrap;
    animation: swiperInfinite 4s infinite linear;
}

@keyframes swiperInfinite {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*+++++++++++++++++++++++++++++++++++++++++*/
.section_1 {
    width: 100%;
    min-height: 100vh;
    padding-top: 15vw;
    overflow: hidden;
}



/* Default styles for larger screens */
.section_1 h1 {
    font-size: 8vw;
    font-weight: 500;
    margin-left: 8vw;
    position: relative;
    transform-origin: 0% -50%;
    color: #fff;
}

.section_1 h2 {
    font-size: 8vw;
    font-weight: 500;
    position: relative;
    transform-origin: left;
    margin-left: 24vw;
    color: #fff;
}
.section_1 p{
    display: none;
}


@media screen and (max-width: 1200px) {
    .section_1 h1 {
        font-size: 7vw;
        margin-left: 7vw;
    }

    .section_1 h2 {
        font-size: 7vw;
        margin-left: 20vw;
    }
}


@media screen and (max-width: 768px) {
    .hero{
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .section_1 h1 {
        font-size: 10vw;
        margin-left: 6vw;
        letter-spacing: -0.3vw;
    }

    .section_1 h2 {
        font-size: 10vw;
        margin-left: 18vw;
        letter-spacing: -0.3vw;
    }
    .section_1 p{
        display: block;
        font-size: 4vw;
        position: relative;
        text-align: center;
        margin-top: 5vh;
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: #fff;
        opacity: 0;
        font-weight: 500;
        line-height: 1.2;
    }
}


@media screen and (max-width: 600px) {
    .hero{
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .section_1 h1 {
        font-size: 8vw;
        margin-left: 9vw;
        letter-spacing: -0.3vw;
    }

    .section_1 h2 {
        font-size: 8vw;
        margin-left: 15vw;
        letter-spacing: -0.3vw;
    }
    .section_1 p{
        display: block;
        font-size: 3.7vw;
        position: relative;
        text-align: center;
        margin-top: 5vh;
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: #fff;
        opacity: 0;
        font-weight: 500;
        line-height: 1.2;
    }
}


.icon-scroll,
.icon-scroll::before{
  position: absolute;
  left: 50%;
  z-index: 1;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 10%;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

.icon-scroll::before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(46px);
  }
}


.section_1 .Desktop {
    width: 50%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}

.section_1 .Mobile {
    display: none;
}


@media screen and (max-width: 768px) {
    .section_1 .Desktop {
        display: none; 
    }

    .section_1 .Mobile {
        display: block; 
        width: 50%; 
        margin-top: 5vw;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}


/*+++++++++++++++++++++++++++++++++++++++++*/
.page_2 {
    min-height: 100vh;
    width: 100%;
    padding: 2vw 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    color: #111;
    z-index: 9;
}
.page_2_desktop{
    display: block;
}
.page_2_reduced{
    display: none;
}
.page_2 h1 {
    font-size: 6vw; 
    font-weight: 500;
    padding: 5vw 0; 
    color: #111;
}

.page_description {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0; 
}

.page_2_left {
    width: 38%;
}

.page_2_left h2 {
    font-size: 4vw;
    color: #111;
    font-weight: 400;
    line-height: 1.2; 
}

.page_2_right {
    width: 30%;
}

.page_2_right p {
    font-size: 1.8vw; 
    color: #111;
}

.page_2_right button {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-radius: 50px;
    border: none;
    background-color: #edbfff;
    color: #111;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.5vw; 
}



@media (max-width: 768px) {
    .page_2_desktop{
        display: none;
    }
    .page_2_reduced {
        display: block;
        min-height: 50vh;
    }
    
    .page_2_reduced img {
        width: 100%;
        height: auto;
        margin-bottom: 3vw;
    }
    
    .page_2_reduced h4 {
        font-size: 4vw; 
        font-weight: 500;
        padding: 5vw 0; 
        color: #3B393A;
    }
    
    .page_2_reduced p {
        font-size: 6vw;
        color: #010101;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: -4vw; 
        margin-bottom: 7vh; 
    }
    
    .page_2 h1 {
        font-size: 8vw; 
        padding: 8vw 0;
    }

    .page_2_left, .page_2_right {
        width: 100%; 
        margin-bottom: 20px;
    }

    .page_2_left h2 {
        font-size: 5vw;
        line-height: 1.3;
    }

    .page_2_right p {
        font-size: 2.5vw;
    }

    .page_2_right button {
        font-size: 4vw; 
        padding: 12px 0;
    }
}

@media (max-width: 480px) {
    .page_2{
        min-height: fit-content;
    }
    .page_2_desktop{
        display: none;
    }
    .page_2_reduced{
        display: block;
    }
    .page_2_reduced h1 {
        font-size: 6vw; 
        font-weight: 500;
        padding: 5vw 0; 
        color: #ffffff;
    }
    .page_2 h1 {
        font-size: 9vw; 
        font-weight: 500;
        padding: 5vw 0; 
        color: #111;
    }

    .page_2_left h2 {
        font-size: 5vw;
        line-height: 1;
        width: 70%;
    }
    .page_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vw;
    }
    .page_2_right{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 10vw;
    }
    .page_2_right p {
        font-size: 4vw;
        text-align: right;
        width: 85%;
        float: right;
    }

    .page_2_right button {
        font-size: 5vw;
        padding: 15px 0;
    }
}


/*+++++++++++++++++++++++++++++++++++++++++*/
.page_3 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9;
    padding-top: 10vw;
}

.page_3 h1 {
    font-size: 7vw;
    font-weight: 400;
    color: #111;
    margin-left: 55px;
}

.page_3_description {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.page_3_description img {
    width: 35vw;
    height: auto;
    margin-top: 190px;
    object-fit: cover;
}

.page_3_description .top,
.page_3_description .bottom {
    width: 40vw;
    margin-top: 40px;
    color: #fff;
}

.page_3_description .bottom {
    margin-top: 290px;
}

.page_3_description video {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.image_des_1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 2vw;
}

.video_des_1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vw;
}

.text_img,
.text_video {
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}


@media screen and (max-width: 1200px) {
    .page_3 h1 {
        font-size: 8vw;
    }

    .page_3_description img {
        width: 45vw;
    }

    .page_3_description .top,
    .page_3_description .bottom {
        width: 45vw;
    }
}


@media screen and (max-width: 768px) {
    .page_3 h1 {
        font-size: 10vw;
        margin-left: 30px;
    }

    .page_3_description {
        flex-direction: column;
        align-items: center;
    }

    .page_3_description img,
    .page_3_description video {
        width: 80vw;
        margin-top: 20px;
    }

    .page_3_description .top,
    .page_3_description .bottom {
        width: 80vw;
        margin-top: 20px;
    }

    .text_img,
    .text_video {
        font-size: 2.5vw;
        align-items: center;
    }
}


@media screen and (max-width: 600px) {
    .page_3 h1 {
        font-size: 12vw;
        margin-left: 20px;
    }

    .page_3_description img,
    .page_3_description video {
        width: 90vw;
        height: auto;
        margin-top: 10px;
    }

    .page_3_description .top,
    .page_3_description .bottom {
        width: 90vw;
        margin-top: 10px;
    }

    .text_img,
    .text_video {
        font-size: 3.5vw;
        align-items: start;
    }
}


/*+++++++++++++++++++++++++++++++++++++++++*/
.page_4{
    min-height: 100vh;
    height: max-content;
    width: 100%;
    padding: 20vw 5vw;
    color: #fff;
    border-top: 2px solid #6c6c6c;
}

.page_4> p{
    text-align: center;
    font-size: 0.9vw;
    position: relative;
    bottom: 40px;
    color: #fff;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem img{
    width: 350px;
    position: absolute;
    opacity: 0;
    transform: translateY(10%) rotate(2deg);
    z-index: -1;
}

.elem img:nth-child(1){
    left: 15%;
}

.elem img:nth-child(3){
    right: 2%;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
    transition: all ease-out 0.5s;
}

.text{
    height: 8vw;
    overflow: hidden;
}

.text h1{
    font-size: 8vw;
    font-weight: 400;
    text-align: center;
    mix-blend-mode: difference;
    cursor: pointer;
}

.elem h1{
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}


.img1{
    left: 6%;
    bottom: -150%;
}

.img2{
    right: 5%;
    bottom: -200%;
}

.img3{
    left: 6%;
    bottom: -180%;
}

.img4{
    right: 5%;
    bottom: 0%;
}

.img5{
    left: 6%;
    bottom: 130%;
}

.img6{
    right: 2%;
    top: -150%;
}

/*+++++++++++++++++++++++++++++++++++++++++*/
.page_5{
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9;
    border-top: 2px solid #6c6c6c;
    padding-top: 6vw;
}

.page_5_inside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_5_inside > .row{
    width: 100%;
    max-width: calc(100vw - 12vw);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.8vw 0.3vw;
    border-bottom: 2px solid #fff;
    color: rgb(95, 94, 94);
}

.page_5_inside > .row:hover{
    color: #fff;
    transition: all 0.5s;
}

.row:nth-child(1){
    color: #fff;
    padding-right: 1.2vw;
}

.row > h1 {
    font-size: 4vw;
    font-weight: 500;
}

.row > h1 span:nth-child(1){
    color: #EDBFFF;
}

.row > h4 {
    font-size: 1.5vw;
    font-weight: 500;
}

.row > p {
    font-size: 1vw;
    font-weight: 500;
}

.row>p span:nth-child(1){
    margin-right: 6vw;
}

/*+++++++++++++++++++++++++++++++++++++++++*/
footer{
    width: 100%;
    min-height: 150vh;
    background-color: #edbfff;
    padding: 7vw 6vw;
}

.top{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5vw;
}

.top > .footer_description{
    font-size: 1.5vw;
    letter-spacing: -0.02vw;
}

.top > .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.bottom {
    width: 96%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7vw;
}

.bottom > .bottom_description{
    width: 35vw;
}

.bottom > .bottom_description h4{
    font-size: 1.7vw;
    font-weight: 400;
}

.bottom > .bottom_description input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 25vw;
    font-size: 1.2vw;
    margin-top: 2.5vw;
    padding: 1.1vw 0;
}

.bottom > .bottom_description input:focus{
    outline: none;
}

.bottom > .bottom_description button{
    width: 8vw;
    height: 2vw;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1vw;
    left: 27vw;
    border: 1px solid black;
}
.bottom > .bottom_description button:hover{
    background-color: #fff;
    color: #111;
    border: none;
    transition: all 0.4s;
}

.bottom > .bottom_description p{
    margin-top: 1vw;
}

.bottom > h1{
   font-size: 1.7vw;
   font-weight: 400;
}

.focus{
    color: #fff !important;
    background-color: #111 !important;
    transition: all 0.2s;
    cursor: pointer;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-hubs{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 1.2vw;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.info a{
    text-decoration: none;
    color: #000;
    font-size: 1vw;
}

@media screen and (max-width: 600px){
    .page_4{
        min-height: 60vh;
    }
    .page_4 p{
        font-size: 5vw;
        position: relative;
        bottom: 40px;
    }
    .elem img{
        width: 300px;
        position: absolute;
        opacity: 0;
        top: 10%;
        transform: translateY(10%) rotate(2deg);
        z-index: -1;
    }
    .elem img:nth-child(1){
        left: 15%;
    }
    
    .elem img:nth-child(3){
        top: 20%;
        right: 2%;
    }

    .text{
        height: 10vw;
        z-index: 2;
        overflow: hidden;
    }
    .text h1{
        font-size: 10vw;
        font-weight: 400;
        text-align: center;
        mix-blend-mode: difference;
        cursor: pointer;
    }
   
    .page_5{
        min-height:85vh;
    }

    .page_5_inside > .row{
        width: 100%;
        max-width: calc(100vw - 12vw);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 1vw;
        padding: 7vw 0vw;
        border-bottom: 1px solid #d8d7d7;
        color: rgb(95, 94, 94);
    }
    .row > h1 {
        font-size: 8vw;
    }
    .row > h4 {
        color: #fff;    ;
        font-size: 6vw;
    }
    .row > p {
        display: flex;
        justify-content: space-between;
        color: rgb(208, 205, 205);
        font-size: 4vw;
        font-weight: 500;
    }

    footer{
        width: 100%;
        min-height: auto;
        padding: 7vw;
    }
    .top{
        flex-direction: column;
        align-items: start;
        gap: 5vw;
    }
    
    .footer_description{
        width: 60%;
    }
    .footer_description h1{
        font-size: 5vw;
    }
    .bottom{
        flex-direction: column;
        align-items: start;
        gap: 5vw;
    }
    .bottom > .bottom_description{
        width: 100%;
    }
    
    .bottom > .bottom_description h4{
        font-size: 5vw;
        font-weight: 400;
    }
    .bottom > .bottom_description input{
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        width: 100%;
        font-size: 4vw;
        margin-top: 5vh;
        padding: 1.1vw 0;
    }
    .bottom > .bottom_description button{
        width: 35vw;
        height: 5vh;
        border-radius: 60px;
        background-color: transparent;
        font-size:3.5vw;
        left: 27vw;
        border: 1px solid black;
        margin-top: 2vh;
    }
    .bottom > .bottom_description p{
        margin-top: 5vw;
    }
    
    .bottom > h1{
       font-size: 1.7vw;
       font-weight: 400;
    }
    .info h3{
        font-size: 4.5vw;
        font-size: 4vw;
        font-weight: 400;
        text-decoration: underline;
    }
    
    .info a{
        font-size: 3.4vw;
    }
}